@import "../../../assets/variables";

.bg-light-blue {
	background : #B9EEF2;
	height     : 200px;
	box-shadow : inset 0 -75px 18px -82px rgba(0, 0, 0, 1);
	
	& .title {
		font-size : 3rem;
		
		& .text-joboonja-aqua {
			color : $joboonja-aqua;
		}
	}
}

.form-section {
	& label {
		& div {
			& span:before {
				content     : '*';
				color       : red;
				margin-left : 10px;
				padding-top : 6px;
			}
			
			&:after {
				content : ':';
			}
		}
	}
	
	& input {
		height        : 40px;
		border        : 2px solid #00AEBF;
		border-radius : 5px;
	}
	
	& textarea {
		border        : 2px solid #00AEBF;
		border-radius : 5px;
	}
}
