@import "../../assets/variables";

.bg-light-blue {
	background : #B9EEF2;
	height     : 100px;
	box-shadow : inset 0 -75px 18px -82px rgba(0, 0, 0, 1);
}

.p-2rem {
	padding : 2rem;
}

.border-dash {
	border-bottom : 2px dashed #00D3DF;
}

.project-section {
	position : relative;
	top      : -50px;
	
	& img {
		width         : 180px;
		height        : 180px;
		border-radius : 5px;
	}
	
	& .info {
		width : 81%;
		
		& .title {
			font-size : 1.7rem;
		}
		
		& .remaining-time {
			color : #666;
		}
		
		& .budget {
			color : #00858D;
		}
		
		& .description-title {
			font-size : 1.3rem;
		}
	}
	
	& .skills {
		& .badge {
			&.custom-badge {
				height     : 35px;
				background : white;
				font-size  : 1rem;
				
				& .endorse {
					width         : 27px;
					background    : #B9EFF2;
					border-radius : 5px;
					font-size     : 0.9rem;
				}
			}
		}
	}
}

.project-section .recorded {
	color : $joboonja-green;
}

.project-section .deadline-reached {
	color : $joboonja-red;
}

.add-bid form .input-group-text,
.add-bid form input {
	background : white;
	border     : 2px solid #00AEBF;
}

.add-bid form .input-group-text {
	border-right : 0;
}

.add-bid form .input-group-text.custom-addon {
	color                     : #00AEBF;
	border-top-left-radius    : 5px !important;
	border-bottom-left-radius : 5px !important;
}

.add-bid form input {
	border-left   : 0;
	border-radius : 5px;
}

.add-bid form input:focus {
	border-color : #00AEBF;
}

.btn-send {
	background : #00AEBF;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance : none;
	margin             : 0;
}

@media only screen and (max-width : 1200px) {
	.project-section .info {
		width : 77%;
	}
}
