@import "../../assets/variables";
@import "../../assets/mixins";

#dropdown-basic {
	width : 220px;
}

.skills {
	& .badge {
		&.profile-badge {
			height     : 35px;
			background : white;
			font-size  : 1rem;
			
			& .endorse {
				width         : 27px;
				background    : $joboonja-light-x;
				border-radius : 5px;
				font-size     : 0.9rem;
				@include set_transition();
			}
		}
	}
}
