@import "../../assets/variables";

.search-section {
	background : $joboonja-light-x;
	height     : 340px;
	
	& .title {
		font-size   : 2.5rem;
		font-weight : bold;
		color       : $joboonja-aqua;
	}
	
	& form {
		position : relative;
		
		& input {
			height        : 60px;
			border-bottom : 5px solid $joboonja-aqua-light-x !important;
			font-weight   : lighter;
			background    : #D7F8FA;
			
			&::placeholder {
				font-size : 1.3rem;
				color     : $joboonja-light-xx;
			}
		}
		
		& button {
			background : $joboonja-aqua-light;
			position   : absolute;
			top        : 5px;
			left       : 5px;
			height     : 45px;
			width      : 100px;
			font-size  : 1.3rem;
		}
	}
}

.main-section {
	position : relative;
	top      : -25px;
	
	& .user-search {
		& input {
			height        : 42px;
			background    : $joboonja-light;
			border-radius : 5px;
		}
	}
	
	& .users-section {
		& .user-box {
			height : 70px;
			
			& img {
				border-radius : 5px;
			}
			
			& .name {
				font-size : 0.9rem;
			}
			
			& .job {
				color     : $joboonja-gray-light;
				font-size : 0.8rem;
			}
		}
	}
	
	& .load-more {
		background : $joboonja-aqua-light;
		
		&:active {
			background : $joboonja-aqua !important;
		}
	}
}
